# Git
.git
.gitignore

# Docker
.dockerignore
docker-compose.yml
Dockerfile
Makefile

# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.ruff_cache/
*.egg-info/

# IDEs & OS-specific
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local environment & secrets
.env
.env.*
credentials.json
*.pem

# Local data and logs
*.log
local_data/